@model QuestionsVM

@{
    ViewData["Title"] = "Questions";
}

<h1>سوالات</h1>
<br />
<hr />
<hr />

@foreach (var item in Model.Questions)
{
    <div class="row">
        <div class="col-3">
            <a href=@($"https://www.ninisite.com/discussion/topic/{item.QID}/aaa") rel="noreferrer">
                <h6>QID @item.QID</h6>
            </a>
            <h6><strong>پاسخ ها: </strong> <button type="button" class="btn btn-lg btn-info">@item.Comments.Count()</button></h6>
            <h6>دسته بندی: @item.QCATEGORY</h6>
            <h6>تاریخ: @item.QDATE</h6>
            <h6>نام کاربری @item.QUsername</h6>
            @if (item.LabelComplete)
            {
                <h3>--------</h3>
                <button type="button" class="btn btn-lg btn-danger">برچسب خورده</button>
                <h4>در تاریخ: @item.LabelCompleteDateTime</h4>
                <h4>توسط: @item.User.Username</h4>
            }
            else
            {
                if (item.Label)
                {
                    <h3>--------</h3>
                    <button type="button" class="btn btn-lg btn-warning">برچسب نیمه تمام</button>
                    <h4>در تاریخ: @item.LabelDateTime</h4>
                    <h4>توسط: @item.User.Username</h4>
                }
            }
        </div>
        <div class="col-7">
            <div><h4>@item.QSubject</h4></div>
            <div><strong>متن: </strong><p>@item.QBody</p></div>
        </div>
        <div class="col-2">
            @if (item.Active)
            {
                <label class="btn btn-success btn-active btn-question-admin btn-lg" qid="@item.QuestionId">Active <span class='fa fa-check'></span></label>
            }
            else
            {
                <button type="button" class="btn btn-success btn-active btn-question-admin" qid="@item.QuestionId">Active</button>
            }

            @if (item.Reject)
            {
                <label type="button" class="btn btn-danger btn-reject btn-question-admin btn-lg" qid="@item.QuestionId">Reject <span class="fa fa-check"></span></label>
            }
            else
            {
                <button type="button" class="btn btn-danger btn-reject btn-question-admin" qid="@item.QuestionId">Reject</button>
            }


            @if (item.IsAdv)
            {
                <label class="btn btn-warning btn-adv btn-question-admin btn-lg" qid="@item.QuestionId">Adv <span class='fa fa-check'></span></label>
            }
            else
            {
                <button type="button" class="btn btn-warning btn-adv btn-question-admin" qid="@item.QuestionId">Adv</button>
            }

        </div>
    </div>
    <hr />
    <hr />
}





<div class="row">
    <div class="offset-1 col-10">
        @for (int i = 1; i <= (Model.Max / Model.Count); i++)
        {
            <a class="btn" href="/Admin/Questions/@Model.Token/@i">@i</a>
        }
    </div>
</div>

<script>
    $(".btn-reject").click(function () {
        var questionId = $(this).attr("qid");
        $(this).addClass("btn-lg");
        $(this).append(" <span class='fa fa-check'></span>");

        $.ajax({
            type: "POST",
            url: "/Admin/RejectQuestion/" + questionId,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data) {
                    $.toast({
                        title: 'Notice!',
                        subtitle: "Success ",
                        content: 'ثبت شد',
                        type: 'success',
                        delay: 750,
                        img: {
                            class: 'rounded',
                            title: 'ثبت شد',
                            alt: 'Alternative'
                        },
                        pause_on_hover: false
                    });
                }
                else {
                    $.toast({
                        title: 'Notice!',
                        subtitle: "Sorry ",
                        content: 'نا موفق',
                        type: 'danger',
                        delay: 750,
                        img: {
                            class: 'rounded',
                            title: 'نا موفق',
                            alt: 'Alternative'
                        },
                        pause_on_hover: false
                    });
                }
            },
            failure: function (errMsg) {
                $.toast({
                    title: 'Notice!',
                    subtitle: "Sorry ",
                    content: 'نا موفق',
                    type: 'danger',
                    delay: 750,
                    img: {
                        class: 'rounded',
                        title: 'نا موفق',
                        alt: 'Alternative'
                    },
                    pause_on_hover: false
                });
            }
        });
    });

    $(".btn-active").click(function () {
        var questionId = $(this).attr("qid");
        $(this).addClass("btn-lg");
        $(this).append(" <span class='fa fa-check'></span>");

        $.ajax({
            type: "POST",
            url: "/Admin/ActiveQuestion/" + questionId,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data) {
                    $.toast({
                        title: 'Notice!',
                        subtitle: "Success ",
                        content: 'ثبت شد',
                        type: 'success',
                        delay: 750,
                        img: {
                            class: 'rounded',
                            title: 'ثبت شد',
                            alt: 'Alternative'
                        },
                        pause_on_hover: false
                    });
                }
                else {
                    $.toast({
                        title: 'Notice!',
                        subtitle: "Sorry ",
                        content: 'نا موفق',
                        type: 'danger',
                        delay: 750,
                        img: {
                            class: 'rounded',
                            title: 'نا موفق',
                            alt: 'Alternative'
                        },
                        pause_on_hover: false
                    });
                }
            },
            failure: function (errMsg) {
                $.toast({
                    title: 'Notice!',
                    subtitle: "Sorry ",
                    content: 'نا موفق',
                    type: 'danger',
                    delay: 750,
                    img: {
                        class: 'rounded',
                        title: 'نا موفق',
                        alt: 'Alternative'
                    },
                    pause_on_hover: false
                });
            }
        });
    });

    $(".btn-adv").click(function () {
        var questionId = $(this).attr("qid");
        $(this).addClass("btn-lg");
        $(this).append(" <span class='fa fa-check'></span>");

        $.ajax({
            type: "POST",
            url: "/Admin/AdvQuestion/" + questionId,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data) {
                    $.toast({
                        title: 'Notice!',
                        subtitle: "Success ",
                        content: 'ثبت شد',
                        type: 'success',
                        delay: 750,
                        img: {
                            class: 'rounded',
                            title: 'ثبت شد',
                            alt: 'Alternative'
                        },
                        pause_on_hover: false
                    });
                }
                else {
                    $.toast({
                        title: 'Notice!',
                        subtitle: "Sorry ",
                        content: 'نا موفق',
                        type: 'danger',
                        delay: 750,
                        img: {
                            class: 'rounded',
                            title: 'نا موفق',
                            alt: 'Alternative'
                        },
                        pause_on_hover: false
                    });
                }
            },
            failure: function (errMsg) {
                $.toast({
                    title: 'Notice!',
                    subtitle: "Sorry ",
                    content: 'نا موفق',
                    type: 'danger',
                    delay: 750,
                    img: {
                        class: 'rounded',
                        title: 'نا موفق',
                        alt: 'Alternative'
                    },
                    pause_on_hover: false
                });
            }
        });
    });
</script>





@*<table class="table table-striped">
        <thead>
            <tr>
                <th>QID</th>
                <th><strong>پاسخ ها</strong></th>
                <th>دسته بندی</th>
                <th>تاریخ</th>
                <th>نام کاربری</th>
                <th>متن</th>
                <th>عنوان</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Questions)
            {
                <tr>
                    <td>
                        <a href=@($"https://www.ninisite.com/discussion/topic/{item.QID}/aaa") rel="noreferrer">
                            @Html.DisplayFor(modelItem => item.QID)
                        </a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-lg btn-info">@item.Comments.Count()</button>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QCATEGORY)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QDATE)
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.QUsername))
                        {
                            if (item.QUsername.Length > 25)
                            {
                                <label> @item.QUsername.Substring(0, 24) <abbr title="@item.QUsername"> <button type="button" class="btn btn-sm">...</button> </abbr></label>

                            }
                            else
                            {
                                <label> @item.QUsername </label>
                            }
                        }
                        else
                        {
                            <button type="button" class="btn btn-outline-warning">empty</button>
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.QBody))
                        {
                            if (item.QBody.Length > 60)
                            {
                                <label> @item.QBody.Substring(0, 59) <abbr title="@item.QBody"> <button type="button" class="btn btn-sm">...</button> </abbr></label>

                            }
                            else
                            {
                                <label> @item.QBody </label>
                            }
                        }
                        else
                        {
                            <button type="button" class="btn btn-outline-warning">empty</button>
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.QBody))
                        {
                            if (item.QSubject.Length > 60)
                            {
                                <label> @item.QSubject.Substring(0, 59) <abbr title="@item.QSubject"> <button type="button" class="btn btn-sm">...</button> </abbr></label>

                            }
                            else
                            {
                                <label> @item.QSubject </label>
                            }
                        }
                        else
                        {
                            <button type="button" class="btn btn-outline-warning">empty</button>
                        }
                    </td>
                    <td>

                    </td>
                </tr>
            }
        </tbody>
    </table>*@