@model IEnumerable<NJBC.DataLayer.Models.Semeval2015.Question>

@{
    ViewData["Title"] = "Questions";
}

<h1>Questions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-responsive" cellspacing="10">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QID)
            </th>
            <th>
                <strong>پاسخ ها</strong>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QCATEGORY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QDATE)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.QUSERID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QTYPE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QGOLD_YN)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.QUsername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QBody)
            </th>
            <th colspan="2">
                @Html.DisplayNameFor(model => model.QSubject)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Label)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LabelDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LabelComplete)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LabelCompleteDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {

        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href=@($"https://www.ninisite.com/discussion/topic/{item.QID}/aaa") rel="noreferrer">
                        @Html.DisplayFor(modelItem => item.QID)
                    </a>
                </td>
                <td>
                    <button type="button" class="btn btn-lg btn-info">@item.Comments.Count()</button>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QCATEGORY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QDATE)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.QUSERID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QTYPE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QGOLD_YN)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.QUsername)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.QBody))
                    {
                        if (item.QBody.Length > 70)
                        {
                            <label> @item.QBody.Substring(0, 69) <abbr title="@item.QBody"> <button type="button" class="btn btn-sm">...</button> </abbr></label>

                        }
                        else
                        {
                            <label> @item.QBody </label>
                        }
                    }
                    else
                    {
                        <button type="button" class="btn btn-outline-warning">empty</button>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QSubject)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Label)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LabelDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LabelComplete)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LabelCompleteDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserId)
                    </td>*@
            <td>
                <button type="button" class="btn btn-success btn-active" style="margin-bottom:20px;" qid="@item.QuestionId">Active</button>

                <button type="button" class="btn btn-danger btn-reject" qid="@item.QuestionId">Reject</button>

                <button type="button" class="btn btn-warning btn-adv" qid="@item.QuestionId">Adv</button>
            </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(".btn-reject").click(function () {
        var questionId = $(this).attr("qid");

        $.ajax({
            type: "POST",
            url: "/Admin/RejectQuestion/" + questionId,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data) {
                    $.toast({
                        title: 'Notice!',
                        subtitle: "Success ",
                        content: 'ثبت شد',
                        type: 'success',
                        delay: 750,
                        img: {
                            class: 'rounded',
                            title: 'ثبت شد',
                            alt: 'Alternative'
                        },
                        pause_on_hover: false
                    });
                }
                else {
                    $.toast({
                        title: 'Notice!',
                        subtitle: "Sorry ",
                        content: 'نا موفق',
                        type: 'danger',
                        delay: 750,
                        img: {
                            class: 'rounded',
                            title: 'نا موفق',
                            alt: 'Alternative'
                        },
                        pause_on_hover: false
                    });
                }
            },
            failure: function (errMsg) {
                $.toast({
                    title: 'Notice!',
                    subtitle: "Sorry ",
                    content: 'نا موفق',
                    type: 'danger',
                    delay: 750,
                    img: {
                        class: 'rounded',
                        title: 'نا موفق',
                        alt: 'Alternative'
                    },
                    pause_on_hover: false
                });
            }
        });
    });

    $(".btn-active").click(function () {
        var questionId = $(this).attr("qid");

        $.ajax({
            type: "POST",
            url: "/Admin/ActiveQuestion/" + questionId,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data) {
                    $.toast({
                        title: 'Notice!',
                        subtitle: "Success ",
                        content: 'ثبت شد',
                        type: 'success',
                        delay: 750,
                        img: {
                            class: 'rounded',
                            title: 'ثبت شد',
                            alt: 'Alternative'
                        },
                        pause_on_hover: false
                    });
                }
                else {
                    $.toast({
                        title: 'Notice!',
                        subtitle: "Sorry ",
                        content: 'نا موفق',
                        type: 'danger',
                        delay: 750,
                        img: {
                            class: 'rounded',
                            title: 'نا موفق',
                            alt: 'Alternative'
                        },
                        pause_on_hover: false
                    });
                }
            },
            failure: function (errMsg) {
                $.toast({
                    title: 'Notice!',
                    subtitle: "Sorry ",
                    content: 'نا موفق',
                    type: 'danger',
                    delay: 750,
                    img: {
                        class: 'rounded',
                        title: 'نا موفق',
                        alt: 'Alternative'
                    },
                    pause_on_hover: false
                });
            }
        });
    });

    $(".btn-adv").click(function () {
        var questionId = $(this).attr("qid");

        $.ajax({
            type: "POST",
            url: "/Admin/AdvQuestion/" + questionId,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data) {
                    $.toast({
                        title: 'Notice!',
                        subtitle: "Success ",
                        content: 'ثبت شد',
                        type: 'success',
                        delay: 750,
                        img: {
                            class: 'rounded',
                            title: 'ثبت شد',
                            alt: 'Alternative'
                        },
                        pause_on_hover: false
                    });
                }
                else {
                    $.toast({
                        title: 'Notice!',
                        subtitle: "Sorry ",
                        content: 'نا موفق',
                        type: 'danger',
                        delay: 750,
                        img: {
                            class: 'rounded',
                            title: 'نا موفق',
                            alt: 'Alternative'
                        },
                        pause_on_hover: false
                    });
                }
            },
            failure: function (errMsg) {
                $.toast({
                    title: 'Notice!',
                    subtitle: "Sorry ",
                    content: 'نا موفق',
                    type: 'danger',
                    delay: 750,
                    img: {
                        class: 'rounded',
                        title: 'نا موفق',
                        alt: 'Alternative'
                    },
                    pause_on_hover: false
                });
            }
        });
    });
</script>