@model NJBC.DataLayer.Models.Semeval2015.Question

@{
    ViewData["Title"] = "Label";
}

<div class="row">
    <div class="col-12">
        <button class="btn btn-outline-info btn-nextq" type="button">سوال بعدی</button>
    </div>
    <div class="col-12">
        @if (Model != null)
        {
            <input type="hidden" id="UserId" value="@ViewBag.UserId" />
            <input type="hidden" id="QuestionId" value="@Model.QuestionId" />
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">خانه</a></li>
                    <li class="breadcrumb-item"><a href="#">تالار نامزدی</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Model.QCATEGORY</li>
                </ol>
            </nav>
            <div class="card text-white bg-dark mb-6">
                <div class="card-header"><i class="fa fa-question"></i> پرسش:</div>
                <div class="card-body">
                    <h5 class="card-title">@Model.QSubject</h5>
                    <p class="card-text">
                        <br />
                        <span class="btn btn-sm btn-outline-warning">
                            <i class="fa fa-info-circle"></i>&nbsp; شرح:
                        </span>
                        @Model.QBody
                    </p>
                </div>
            </div>
        }
    </div>
    <div class="col-12"><hr /></div>
</div>
<div class="row">
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th><span class="fa fa-user-alt"></span>کاربر</th>
                <th class="text-primary"><span class="fa fa-comment-alt"></span> متن</th>
                <th><span class="fa fa-fire-alt text-warning"></span>عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Comments)
            {
                <tr>
                    <td>
                        <div>
                            <div style="width:100px; height:100px; border-radius:50%; background-color:darkgray; text-align:center">
                                <span class="fa fa-2x fa-user-alt text-white"></span><h6>@item.CUsername</h6>
                            </div>

                            <div class=""></div>
                        </div>
                    </td>
                    <td id="cm-@item.CommentId">
                        <strong class="btn btn-sm btn-primary">
                            پاسخ @item.CommentId
                        </strong>
                        @if (!string.IsNullOrEmpty(item.CGOLD))
                        {
                            <button type="button" class="btn btn-sm btn-outline-success">@item.CGOLD</button>
                        }
                        @if (item.ReplayCommentId.HasValue)
                        {
                            <a class="btn btn-link" href="#cm-@item.ReplayCommentId.Value"> پاسخ به سوال @item.ReplayCommentId.Value</a><br />
                            <div class="text-comment-replay"><i class="fa fa-quote-right"></i> @(Model.Comments.Where(x => x.CommentId == item.ReplayCommentId.Value).FirstOrDefault().CBodyClean) <i class="fa fa-quote-left"></i></div>
                        }
                        <p class="text-comment">@item.CBodyClean</p>
                    </td>
                    <td>
                        <button type="button" style="direction:ltr" class="btn btn-outline-success btn-action btn-label btn-good" comment-id="@item.CommentId" label="Good"><i class="fa fa-check"></i> Good</button>
                        <button type="button" style="direction:ltr" class="btn btn-outline-dark btn-action btn-label btn-good" comment-id="@item.CommentId" label="PotentiallyUseful"><i class="fa fa-comment"></i> PotentiallyUseful</button>
                        <button type="button" style="direction:ltr" class="btn btn-outline-danger btn-action btn-label btn-good" comment-id="@item.CommentId" label="Bad"><i class="fa fa-times"></i> Bad</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <button class="btn btn-outline-info btn-nextq" type="button">سوال بعدی</button>
</div>
<script>
    $(document).ready(function () {

        $(".btn-label").click(function () {
            var label = $(this).attr("label");
            var commentId = $(this).attr("comment-id");
            var userId = $("#UserId").val();
            $(this).addClass("disabled");

            params = '{"CommentId": ' + commentId + ', "UserId":' + userId + ' , "Label": "' + label + '" }';

            $.ajax({
                type: "POST",
                url: "/Label/SetLabel",
                data: params,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                },
                failure: function (errMsg) {
                }
            });
        });

        $(".btn-nextq").click(function () {
            var questionId = $("#QuestionId").val();
            var userId = $("#UserId").val();

            params1 = '{"QuestionId": ' + questionId + ', "UserId":' + userId + '}';

            $.ajax({
                type: "POST",
                url: "/Label/NextQuestion",
                data: params1,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    console.log("Api Call: NextQuestion");
                    location.reload();
                    
                },
                failure: function (errMsg) {

                }
            });
        });
    });
</script>